body .container {
    margin: 20px;
    padding: 20px;
    border-style: none;
}
.nav-link {
    margin: 0px 30px;
}
.breadcrumb-item {
    font-size: 14px;
}
.list-group-item {
    border: none;
    font-size: 16px;
}
.card-img .card-img-top {
    width: 15rem;
    height: 15rem;
}
.pagination {
    justify-content: center;
}
.page-link  {
    color: black;
}
@media screen and (min-width: 992px) {
    .col-lg-4col-md-6col-sm-12 {
        width: 100%;
    }
}
@media screen and (min-width: 768px)  and (max-width: 992px) {
    .col-lg-4col-md-6col-sm-12 {
        width: 65%;
    }
    
}
@media screen and (min-width: 576px)  and (max-width: 768px) {
    .col-lg-4col-md-6col-sm-12 {
        width: 45%;
    }
}
